# Temporary files
*.swp
tags

# Object files
*.o

# Libraries
*.a

# Executables
*.out
minishell

# Tests
tests
tmp_steph
minishell_tester
run_all.sh
test_crash.sh
test_errors.sh
test_nopath.sh
test_valgrind.sh
